<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar', {user}); %> <br><br><br>
    <%- include('../partials/profile', {profileUser, ownprofile}); %> <br><br><br>
    <div class="container mt-5">
      <h2><strong>My Posts</strong> </h2>
    </div>
    <% if (posts) { %> <% posts.forEach(function(post) { %> <%-
    include('../partials/post', { post }); %> <% }); %> <% } %>
    <%- include('../partials/footer'); %>
    
  </body>
</html>